body {
  text-align: center;
  background-color: rgb(122, 135, 95);
  color: rgb(68, 49, 39);
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

a:link {
  color: rgb(44, 103, 72);
}

a:hover {
  color:rgb(68, 49, 39);
}

a:visited {
  color: rgb(44, 103, 72);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(124, 193, 156);
  padding: 20px;
}