body {
  text-align: center;
  background-color: #606c35;
  color: #263614;
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

a:link {
  color: #bd6d22;
}

a:hover {
  color:#fff1cd;
}

a:visited {
  color: #bd6d22;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: underline;
  font-weight: bolder;
  color: #bd6d22;
}

button {
  background-color: #a5b569;
  padding: 20px;
}

/* #a5b569
#263614
#fff1cd
#f7d379
#bd6d22
#a68f74
#606c35 */